# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
whisper_live_app/venv/

# PyInstaller
*.spec

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
nul

# Project
overlay_position.json
